html{
    max-width: 1400px;
    background-color: #dddddd;
}

* {
    color: black;
    font-family: Copperplate, Papyrus, Arial, sans-serif;
}

div {
    padding: 10px 20px; 
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: #d50000;
}

ol {
    margin: 0px 20px;
    padding: 10px;
    font-weight: bold;
}

ol li {
    padding: 10px;
}

li a {
    font-weight: normal;
}


.title {
    text-align: center;
}


/* Recipe Link */
/* Index special */

.view {
    margin: 10px 10px;
    text-align: center;
}

.heading {
    color: #bb6060;
}

.link-body{
    margin: 0px auto;
    height: fit-content;
}

.recipe-link {
    text-decoration: none;
    display: inline-block;
    box-sizing:border-box;
    margin: 20px;
    color: #603838;
    font-weight: 550;
    background-color: #cccccc;
    border: 1px solid #e81c1c;
    min-width: max-content;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}